<nav id="sidebar">
    <div class="sidebar-header">
        <h1>
            <a href="index.html">KAMBOH </a>
        </h1>
        <span>M</span>
    </div>
    <div class="profile-bg"></div>
    <ul class="list-unstyled components">
        <li class="active">
            <a href="/home">
                <i class="fas fa-th-large"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-laptop"></i>
                Labour Records
                <i class="fas fa-angle-down fa-pull-right"></i>
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">

                <li>
                    <a href="/create">Create thekedar</a>
                </li>
                <li>
                    <a href="/record">Read thekedar</a>
                </li>

                <li>
                    <a href="/createdi">Create dhihadidar</a>
                </li>
                <li>
                    <a href="/recorddi">Read dhihadidar</a>
                </li>

            </ul>
        </li>





















        <li>
            <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false">
                <i class="far fa-file"></i>
                Showrooms
                <i class="fas fa-angle-down fa-pull-right"></i>
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu1">
                <li>
                    <a href="/rooms">Create</a>
                </li>
                <li>
                    <a href="/roomrec">Read</a>
                </li>

            </ul>
        </li>











        <li>
            <a href="/bank">
                <i class="far fa-window-restore"></i>
                Bank Detail And Kharcha
            </a>
        </li>


        <li>
            <a href="#">
                <i class="far fa-envelope"></i>
                Mailbox
                <span class="badge badge-secondary float-md-right bg-danger">5 New</span>
            </a>
        </li>




        <li>
            <a href="#">
                <i class="far fa-map"></i>
                Maps
            </a>
        </li>
    </ul>
</nav>